@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="mdl-typography--display-3">@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4 class="mdl-typography--display-1">Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Email" class="mdl-textfield__input" />
                <label class="mdl-textfield__label" asp-for="Email"></label>
                <span asp-validation-for="Email" class="mdl-textfield__error"></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Password" class="mdl-textfield__input" />
                <label class="mdl-textfield__label" asp-for="Password"></label>
                <span asp-validation-for="Password" class="mdl-textfield__error"></span>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="ConfirmPassword" class="mdl-textfield__input" />
                <label class="mdl-textfield__label" asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="mdl-textfield__error"></span>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Register
            </button>
        </div>
    </div>




</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
