@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Home Page";
}

<div class="aspnet-banner-section mdl-typography--text-center">
    <div class="logo-font aspnet-slogan">Welcome to ASP.NET Core!</div>
    <div class="logo-font aspnet-sub-slogan">Learn how to build ASP.NET apps that can run anywhere.</div>
    <div class="logo-font aspnet-learn-more">
        <a href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
    </div>

    <a href="#more-details">
        <button class="aspnet-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">expand_more</i>
        </button>
    </a>
</div>

<div class="more-details-section">
    <a name="more-details"></a>
    <div class="more-details-section-title mdl-typography--display-1-color-contrast">More from .NET</div>
    <div class="aspnet-card-container mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">ASP.NET Core</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                    ASP.NET Core is a lean and composable framework for building web and cloud applications. ASP.NET Core is fully open source and available on GitHub. ASP.NET Core is available on Windows, Mac, and Linux.
                </span>
            </div>
            <div class="mdl-card__actions">
                <a class="aspnet-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://www.asp.net/core">
                    Learn more
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Material Design Lite</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Material Design Lite lets you add a Material Design look and feel to your websites. It doesn’t rely on any JavaScript frameworks and aims to optimize for cross-device use, gracefully degrade in older browsers, and offer an experience that is immediately accessible</span>
            </div>
            <div class="mdl-card__actions">
                <a class="aspnet-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://getmdl.io/index.html">
                    Get started now
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">dotnet new</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">The .NET CLI lets you create new .NET templates like this one! You can install templates like this one from projects, from zip files, or from NuGet.</span>
            </div>
            <div class="mdl-card__actions">
                <a class="aspnet-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/dotnet/templating">
                    Learn more
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">All open-source</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Just like the rest of .NET, the .NET CLI templates are open source on Github.</span>
            </div>
            <div class="mdl-card__actions">
                <a class="aspnet-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    View repo
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
</div>
